.md-datepicker-input-mask{
  height: 0px !important;
  width: 0px !important;
}

.md-toolbar-tools-overwrite {
  font-size: 12px;
}

.md-button-overwrite {
  line-height: 26px;
  min-height: 16px;
  font-weight: 400;
  font-size: 12px;
  min-width: 36px;
  text-transform: none;
  margin: 0px 0px;
  border-radius: 0;
  border: #DDD solid 1px;
}

.md-datepicker-overwrite .md-datepicker-button {
  padding: 0;
  margin: 0;
  width: 30px;
  min-height: 30px;
  height: 30px;
}
.md-datepicker-overwrite .md-datepicker-button .md-datepicker-calendar-icon {
  color: rgba(0, 0, 0, 0.4);
}
.md-datepicker-overwrite .md-datepicker-input-container {
  width: 90px;
  margin: 0px;
  padding-bottom: 6px;
  line-height: 0;
}
.md-datepicker-overwrite .md-datepicker-input-container .md-datepicker-input {
  font-size: 12px;
  width: 90px;
  min-width: 90px;
}

.string-input-overwrite input {
  width: 99%;
}

.md-select-overwrite ._md-select-value {
  min-height: 18px;
  min-width: 40px;
}
.md-select-overwrite ._md-select-value span {
  color: rgba(0, 0, 0, 0.2);
}
.md-select-overwrite ._md-select-value ._md-text {
  color: black;
  font-size: 12px;
}

.md-checkbox-overwrite {
  margin-bottom: 0px;
  min-width: 10px;
  min-height: 10px;
  width: 15px;
  height: 15px;
}
.md-checkbox-overwrite .md-icon{
  width: 15px;
  height: 15px;
}
.md-checkbox-overwrite .md-container {
  width: 15px;
  height: 15px;
}
.md-checkbox-overwrite.md-checked .md-icon:after {
  border-width: 3px;
  left: 4.66667px;
  top: 0.22222px;
  width: 7.66667px;
  height: 12.33333px;
}

.mass-assign {
  padding-left: 20px;
}

.one-line {
  white-space: nowrap;
}

table.md-table tbody.md-body>tr.md-row, table.md-table tfoot.md-foot>tr.md-row {
  height: 32px;
}

th {
  outline: none;
}

ng-md-icon {
  outline: none;
}

.edit-bill {
  margin: 2em;
}

table.md-table:not(.md-row-select) td.md-cell:first-child, table.md-table:not(.md-row-select) th.md-column:first-child {
  padding: 0 2px 0 2px !important;
}

th.md-column {
  padding: 0 4px 0 4px !important;
}

td.one-line.md-cell {
  padding: 0 4px 0 4px !important;
}

.edit-giro {
  margin: 20px;
}

/*.grip-table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid hsla(0,0%,0%,.08);
  border-width: 0 1px 1px 0;
}

.grip-table th {
  background-color: hsla(0,0%,50%,.06);
}
.grip-table th, td {
  text-align: center;
  font-size: 0.8em;
  border: 1px solid hsla(0,0%,0%,.08);
  border-width: 1px 0 0 1px;
}*/

/*nav {
  display: none;
}

.non-print {
  display: none !important;
}

.print-section {
  display: block !important;
}

.section-wrapper {
  max-width: 350px;
}

.letter-head h1 {
  font-size: 18px;
  text-align: center;
}

.letter-body {
  margin: 3em 20em 3em 18em;
}

.letter-body h1 {
  font-size: 16px;
  padding-left: 1em;
  padding-bottom: 1em;
}

.letter-information {
  padding-left: 2em;
}

.letter-date {
  padding-top: 10px;
  float: right;
  text-align: center;
}*/
